.cart-items {
  width: 60%;
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #c7c6c6;
}

.cart-item img {
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  height: 120px;
}

.cart-item-body,
.cart-btns {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-item-body {
  margin-left: 10px;
  width: 50%;
  position: relative;
}
.cart-btns {
  right: 5%;
  align-items: center;
}

.cart-item-title {
  margin: 0;
}

.cart-item-price {
  margin: 0;
  color: var(--emphasize-color);
  font-size: 1.2rem;
}

.delete {
  cursor: pointer;
  color: #1b6e81;
}

.coupon {
  padding: 5px 10px;
  border-radius: 30px;
  background-color: var(--emphasize-color);
  color: #fff;
  opacity: 0;
  font-size: 0.7rem;
}

/* ------------- quantity -------------*/

.quantity {
  position: absolute;
  left: 50%;
  top: 58%;
}

.quantity-btn {
  cursor: pointer;
  border: 0;
  color: #1b6e81;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
}

.quantity-btn:focus {
  outline: none;
}
