/* Products page */

.billboard img {
  max-width: 100%;
  width: 100vw;
  height: auto;
}

h1 {
  margin-left: 20px;
}

/* Cart page */

.cart-header {
  background-color: #514949;
  height: 200px;
  display: flex;
  align-items: center;
}

.cart-header h1 {
  color: #fff;
}

.cart-container {
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
  max-width: 1200px;
}
