.pages {
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.page-item {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
}

.page-btn {
  background: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  cursor: pointer;
}